h1 {
    text-align: center;
    font-size: 30pt;
    color: #d76035;
}

#submission, #login {
    text-align: center;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 500px;
}

#fd {
    width: 50%;
}