body 

{

}

h1 

{

    text-align: center;
}

#submission

{

    text-align: center;

}

#container1, #container2

{

    background-color: grey;
    

}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 500px;
}

#fd {
    width: 500px;
}