body 

{
    background-color: #1c1f28;
}

h1 

{

    text-align: center;
    font-size: 30pt;
    color: #d76035;
}

p 

{

    color: #e5c187;

}

#submission, #login

{
    text-align: center;
}

#container1, #container2

{

    background-color: grey;
    

}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 500px;
}

#fd {
    width: 500px;
}